li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  margin-bottom: 18px;
  font-weight: bold;
}

h1 i.fa,
h2 i.fa,
h3 i.fa,
h4 i.fa,
h5 i.fa {
  margin-right: 10px;
  font-size: 1.2em
}
.green {
  color: green;
}
.red {
  color: red;
}
.orange {
  color: orange;
}

/**
  NAVBAR
**/
.nav > li > form {
  padding: 15px;
}
.navbar {
  -webkit-transition: background-color .3s ease-in;
  transition: background-color .3s ease-in;
}
.navbar .btn {
  font-size: 1em;
}
.navbar-default .navbar-nav > li > .external-link {
  color: #661fa5;
}
.navbar-transparent .navbar-nav > li > .external-link {
  color: #1e1e1e;
}
.nav-tabs {
  margin-bottom: 15px;
}
@media (max-width:768px) {
  .navbar-transparent .navbar-brand {
    display: none;
  }
}
@media (min-width:768px) {
  .navbar-transparent {
    background-color: #ececec33;
  }
  .navbar-transparent a {
    color: white;
  }
}

/**
  DESCRIPTION CONTENT
**/
.description-content {
  background: #e3cfff;
  margin:0;
  padding:0;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  color: #8838b9;
  text-shadow: 1px 1px 1px #f4f0f7;
}
.description-icon {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 5px;
  background: url(../img/bg_description_icon.svg);
  color: #f4e5ff;
  font-size: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  text-shadow: none;
}
h1 i.fa.description-icon,
h2 i.fa.description-icon,
h3 i.fa.description-icon,
h4 i.fa.description-icon,
h5 i.fa.description-icon {
    margin-right: 0px;
}
.description-content h3, .description-content .h3 {
  color: #df3e32;
}
.description-content p {
  /*! min-height: 200px; */
  font-size: 1.2em;
}
.description-content .description-tile {
  min-height: 325px;
  padding: 0px 20px 0px 20px;
}
.description-content button i {
  margin-right: 10px;
}
.description-content .tile {
    text-shadow: none;
}

/**
  SPLASH SCREEN
**/
.splash {
  position: relative;
  height: 100vh;
  padding: 5em 0 5em;
  background-image: url(../img/bg.jpg);
  background-color: #5b3c89;
  background-size: cover;
  background-position: center center;
  color: #fff;
  top: 0px;
  left: 0px;
}
.splash .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
}
.splash h1 {
  font-size: 3.5em;
  color: #e2c5f5;
  text-shadow: 1px 1px 2px black;
}
.splash h2 {
  font-size: 1.8em;
  margin-top: 20px;
  color: #c69ad7;
  text-shadow: 0px 1px 2px #421c56;
}
.splash h3 {
  color: #510078;
  text-shadow: 0px 1px 24px #e7b3d9;
}
.splash p {
  font-size: 1.5em;
}
.splash .splash-form {
  text-align: left;
}
.splash .logo {
  width: 160px;
}
.splash .bottom {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
.splash .bottom img {
  margin: 18px;
}
.splash .alert {
  margin: 2em 0;
}
@media (max-width:767px) {
  .splash {
    padding-top: 4em;
  }
  .splash .logo {
    width: 100px;
  }
  .splash h1 {
    font-size: 2em;
  }
  .splash h2 {
    margin-top: 20px;
    font-size: 1.2em;
  }
  .splash p {
    font-size: 1em;
  }
}

/*
  SECTION
*/
.section {
    padding: 5em 0 5em;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.section-bg-white {
    background-color: #E3CFFF;
    background-size: cover;
    color: #DF3E32;
    border-top: 3px solid #ede1fe;
}
.section-bg-white h1,
.section-bg-white h2,
.section-bg-white h3 {
    color: #9946cc;
    text-shadow: 1px 1px 2px #fff;
}
.section-bg-gray {
    background-color: #5b2f75;
    background-size: cover;
    color: #F5F5F5;
}
.section-bg-gray h1,
.section-bg-gray h2,
.section-bg-gray h3 {
    color: #d5b9fb;
    text-shadow: 1px 1px 8px #1e1921;
}
.section-bg-purple {
    background-color: #743998;
    background-size: cover;
    color: #F5F5F5;
    border-top: 3px solid #bd9ed1;
}
.section-bg-purple h1,
.section-bg-purple h2,
.section-bg-purple h3 {
    color: #ebdcff;
    text-shadow: 0px 1px 8px #311640;
}
.section .carousel-inner {
    color: #ffffff;
}
.section .carousel-inner h1,
.section .carousel-inner h2,
.section .carousel-inner h3{
    color: #ffffff;
    text-shadow: none;
}


/**
  FOOTER
**/
footer li {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}
footer p {
  clear: left;
  margin-bottom: 0;
}

/*
  MODAL
*/
.modal-dialog {
    margin: 30px auto;
}

/*
  TABLE
*/
table thead {
  background-color: #DF3E32;
  font-weight: bold;
  color: white;
}
table td.high-height {
  height: 250px;
}
table td.medium-height {
  height: 126px;
}
table td.title {
  background-color: #743998;
  font-weight: bold;
  color: white;
}
table td i.fa {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2em
}
table > tbody > tr:nth-of-type(2n+1) > td.title {
  background-color: #6a308d;
}
table .col-hidden {
  background-color: #dbc1ec;
  max-width: 20px;
  display: none;
  -webkit-transition: width 0.5s; /* Safari */
  transition: width 0.5s;
}
table .col-hidden > * {
  display: none;
  -webkit-transition: width 0.5s; /* Safari */
  transition: width 0.5s;
}

/*
 * CRYPTO
 */
.cryptokey {
    text-align: center;
    padding: 18px;
    background: #743998;
    border-radius: 18px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.cryptokey img {
    padding-bottom: 16px;
}

/*
 BUTTON
 */
.btn .fa {
  margin-right: 5px;
}
.social {
  font-size: 3em;   
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.social .fa {
  color: #c8a9f1;
  text-shadow: 0px 1px 5px #4f2a65;
}
.social .fa:hover {
  color: #743998;
  text-shadow: 0px 0px 20px #ffffff;
}

/*
 TILE
*/
.tile {
  background: #743998;
  padding: 0px 20px 0px 20px;
  border-radius: 18px;
  color: #edeaef;
  overflow: hidden;
  outline: 0;
  border: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  min-height: 460px;
}
.tile h1,
.tile h2,
.tile h3,
.tile h4,
.tile h5 {
  color: #f1e7ff;
}
.tile h1,
.tile h2,
.tile h3 {
  text-shadow: 1px 1px 8px #25142f;
}
.tile ul {
  padding-left: 5px;
}


/*
  CAROUSEL
*/
.carousel .row {
  margin: 0.5em 2.5em;
}
@media (max-width:767px) {
  .carousel .row {
    margin: 0.5em;
  }
}
.project {
  padding: 20px;
  background: #9558ba;
  background: -webkit-linear-gradient(#9558ba, #7e48a1);
  background: -o-linear-gradient(#9558ba, #7e48a1);
  background: -moz-linear-gradient(#9558ba, #7e48a1);
  background: linear-gradient(#9558ba, #7e48a1);
  border-radius: 18px;
  webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 22px;
}
.project-image {
  padding: 0;
  margin: 0;
}
.project-description {
  margin: 28px 0;
}
.project-description p {
  line-height: 160%;
}
.project-description .logo-img {
  border-radius: 10%;
  width: 96px;
  height: 96px;
  background: #1116;
  margin: auto auto;
}
.project-description .logo-img img {
  display: block;
  margin: auto auto;
}
.project-image img {
  border-radius: 8px;
  border: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4), 0 3px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4), 0 3px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4), 0 3px 6px rgba(0, 0, 0, 0.4);
  max-height: 520px;
  margin-bottom: 10px;
}
@media (max-width:992px) {
  .project {
    min-height: 1250px;
  }
}
@media (max-width:767px) {
  .project-image img {
    max-height: 400px;
  }
}
@media (max-width:410px) {
  .project-image img {
    max-height: 280px;
  }
}
